<app-header></app-header>
<div class="membership-container">
  <h2>Giới thiệu Membership 4Man Fashion</h2>
  <div class="membership-tiers">
    <div class="tier tier-basic">
      <h3>Thường</h3>
      <p>
        Khi đăng ký tài khoản, bạn đã là thành viên của 4Man Club. Hãy tích điểm
        để nâng hạng và nhận nhiều ưu đãi hơn!
      </p>
      <br />
      <p class="discount">Hoàn tiền lên đến 5% mỗi đơn hàng</p>
    </div>
    <div class="tier tier-silver">
      <h3>Bạc</h3>
      <p>Hãy tích 100 điểm tích lũy để nâng hạng trở thành hạng Bạc</p>
      <br />
      <p class="discount">Hoàn tiền lên đến 10% mỗi đơn hàng</p>
    </div>
    <div class="tier tier-gold">
      <h3>Vàng</h3>
      <p>
        Khi đạt 200 điểm tích lũy, bạn sẽ trở thành thành viên Vàng với vô vàn
        ưu đãi hấp dẫn
      </p>
      <p class="discount">Hoàn tiền lên đến 15% mỗi đơn hàng</p>
    </div>
    <div class="tier tier-diamond">
      <h3>Kim cương</h3>
      <p>
        Mua sắm ngay cùng 4Man để tích đủ 300 điểm tích lũy, trở thành thành
        viên Kim cương ngập tràn ưu đãi
      </p>
      <br />
      <p class="discount">Hoàn tiền lên đến 25% mỗi đơn hàng</p>
    </div>
  </div>
  <div class="membership-note">
    <p>
      <strong>Lưu ý:</strong> Điểm tích lũy được tính dựa trên tổng giá trị đơn
      hàng thành công. Hạng thành viên sẽ được cập nhật tự động khi đủ điểm.<br />
      <span class="point-note">1 điểm = 1.000đ - Cứ mua là có điểm!</span>
    </p>
  </div>
</div>
<app-footer></app-footer>
