<div class="admin-container">
  <!-- Header -->
  <div class="admin-header">
    <app-admin-header (toggleSidebar)="toggleSidebar()"></app-admin-header>
  </div>

  <!-- Main Content Area (includes sidebar and content) -->
  <div class="admin-content-area">
    <!-- Sidebar -->
    <div class="admin-sidebar" [class.collapsed]="isSidebarCollapsed">
      <ul class="sidebar-nav">
        <li routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="pi pi-chart-bar"></i>
          <span *ngIf="!isSidebarCollapsed">Thống kê</span>
        </li>
        <li (click)="openExternalUserAdmin()">
          <i class="pi pi-users"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý người dùng</span>
        </li>
        <li routerLink="/admin/manage-products" routerLinkActive="active">
          <i class="pi pi-shopping-bag"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý sản phẩm</span>
        </li>
        <li routerLink="/admin/manage-banners" routerLinkActive="active">
          <i class="pi pi-image"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý banner</span>
        </li>
        <li routerLink="/admin/manage-promotions" routerLinkActive="active">
          <i class="pi pi-percentage"></i>
          <span *ngIf="!isSidebarCollapsed">Chiến dịch giảm giá</span>
        </li>
        <li routerLink="/admin/manage-orders" routerLinkActive="active">
          <i class="pi pi-shopping-cart"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý đơn hàng</span>
        </li>
        <li routerLink="/admin/manage-shop-address" routerLinkActive="active">
          <i class="pi pi-address-book"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý địa chỉ cửa hàng</span>
        </li>
        <li routerLink="/admin/manage-categories" routerLinkActive="active">
          <i class="pi pi-briefcase"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý danh mục sản phẩm</span>
        </li>
        <li
          routerLink="/admin/manage-membership-tiers"
          routerLinkActive="active"
        >
          <i class="pi pi-id-card"></i>
          <span *ngIf="!isSidebarCollapsed">Quản lý hạng thành viên</span>
        </li>
      </ul>
    </div>

    <!-- Content -->
    <div class="admin-content" [class.expanded]="isSidebarCollapsed">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Footer -->
  <div class="admin-footer" [class.expanded]="isSidebarCollapsed">
    <app-admin-footer></app-admin-footer>
  </div>
</div>
