<div class="footer">
  <div class="content">
    <!-- Top section -->
    <div class="top-section">
      <!-- Left side - Slogan and form -->
      <div class="brand-message">
        <p class="title-footer">4MAN FASTECH luôn lắng nghe bạn!</p>
        <p>
          Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ
          khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn
          nữa.
        </p>
        <button>
          ĐÓNG GÓP Ý KIẾN
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>

      <!-- Right side - Contact info -->
      <div class="contact">
        <div class="contact-info">
          <div class="contact-block">
            <p class="label">Hotline</p>
            <p>1900.272737 - 028.7777.2737</p>
            <p>(8:30 - 22:00)</p>
          </div>

          <div class="contact-block">
            <h3 class="label">Email</h3>
            <p>Coolcoolmate.me</p>
          </div>
        </div>
      </div>

      <div class="social-links">
        <a href="#"><i class="pi pi-facebook"></i></a>
        <a href="#"><i class="pi pi-youtube"></i></a>
        <a href="#"><i class="pi pi-instagram"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
        <a href="#"><i class="pi pi-tiktok"></i></a>
      </div>
    </div>

    <p-divider></p-divider>

    <!-- Middle section - Links -->
    <div class="footer-links">
      <!-- COOLCLUB -->
      <div class="footer-section">
        <h3 class="label">COOLCLUB</h3>
        <ul>
          <li><a href="#">Tài khoản CoolClub</a></li>
          <li><a href="#">Ưu đãi & Đặc quyền</a></li>
        </ul>
      </div>

      <!-- CHÍNH SÁCH -->
      <div class="footer-section">
        <h3 class="label">CHÍNH SÁCH</h3>
        <ul>
          <li><a href="#">Chính sách đổi trả 60 ngày</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Chính sách giao hàng</a></li>
        </ul>
      </div>

      <!-- CHĂM SÓC KHÁCH HÀNG -->
      <div class="footer-section">
        <h3 class="label">CHĂM SÓC KHÁCH HÀNG</h3>
        <ul>
          <li><a href="#">Trải nghiệm mua sắm 100% hài lòng</a></li>
          <li><a href="#">Hỏi đáp - FAQs</a></li>
        </ul>
      </div>

      <!-- VỀ COOLMATE -->
      <div class="footer-section">
        <h3 class="label">VỀ COOLMATE</h3>
        <ul>
          <li><a href="#">Giới thiệu về 4Man Fashion</a></li>
          <li><a href="#">DVKH xuất sắc</a></li>
          <li><a href="#">Nhà máy</a></li>
          <li><a href="#">Cam kết bền vững</a></li>
          <li><a href="#">Tầm nhìn 2030</a></li>
        </ul>
      </div>

      <!-- ĐỊA CHỈ LIÊN HỆ -->
      <div class="footer-section">
        <h3 class="label">ĐỊA CHỈ LIÊN HỆ</h3>
        <ul class="address-list">
          <li>
            Trung tâm xử lý đơn hàng: Kho 4Man Fashion, Thôn An Khánh, Xã Ngọc
            Tảo, huyện Phúc Thọ, TP.Hà Nội
          </li>

          <li>
            Cửa hàng: 4Man Fashion, Thôn Táo 3, Xã Tam Thuấn, huyện Phúc Thọ,
            TP.Hà Nội
          </li>
        </ul>
      </div>
    </div>

    <!-- Bottom section - Copyright -->
    <p-divider></p-divider>

    <div class="copyright">
      <p>© 4MAN FASHION</p>

      <div class="certificates">
        <img src="assets/images/dmca.png" alt="DMCA" />
        <img src="assets/images/ncsc.png" alt="SSL" />
        <img src="assets/images/verified.png" alt="Verified" />
      </div>
    </div>
  </div>
</div>
